body,
h1,
button {
  all: unset;
}

#button {
  all: unset;
  padding: 8px 16px;
  background-color: #1e90ff;
  color: white;
  border-radius: 4px;
  cursor: pointer;
  font-size: 24px;
  transition: background-color 0.3s;
}
#button:hover {
  background-color: #4682b4;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: #fff;
}

.stopwatch {
  display: inline-block;
  padding: 25px 20px 55px 20px;
  background-color: white;
  border: 2px solid #d3d3d3;
  border-radius: 24px;
  box-shadow: 2px 4px 12px rgba(0, 0, 0, 0.15);
}

.stopwatch h1 {
  display: block;
  margin-bottom: 17px;
  font-family: "Press Start 2P", cursive;
  font-size: 14px;
  text-transform: uppercase;
  color: #ffb7c5;
}

.stopwatch_interface {
  display: flex;
  align-items: center;
  gap: 10px;
}
.stopwatch_interface {
  display: flex;
  align-items: center;
  gap: 10px;
}

#screen {
  all: unset;
  padding: 13px 12px;
  background-color: black;
  color: white;
  border-radius: 4px;
  cursor: pointer;
  font-size: 25px;
  transition: background-color 0.3s;
  font-family: "Press Start 2P", cursive;
}
